html{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(to right, rgba(255, 255, 255, 0.377),rgba(255, 0, 0, 0.719) 70%) ;
}
.card{
    background-color: rgba(255, 255, 255, 0.164);
    backdrop-filter: blur(30px);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.39);
    margin: auto;
    margin-top: 60px;
    width: 350px;
    padding: 10px;
    height: auto;
    text-align: center;
    box-shadow: 0 0 16px rgba(248, 168, 237, 0.747);
}
img{
    border-radius: 100px;
    width: 120px;
}
h1{
    font-size: 2em;
}
.pregunta{
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(20px);
    font-weight: 400;
    font-size: 1em;
    padding: 2px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.315);
}
.respuesta{

    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding-top: 30px;
    background-color: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(20px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.315);
}
button{
    border: none;
    border-radius: 4px;
    padding: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.219);
    margin: 4px;
}
.si{
    border: 1px solid rgba(255, 255, 255, 0.753);
    background-color: black;
    color: #fff;
}
p{
    font-size: .5em;
    font-weight: 200;
}
.no{
    position: absolute;
}
a{
    color: white;
    text-decoration: none;
}